/data
.ipynb_checkpoints/
__pycache__/

/logs
/analytics

.DS_Store
temp.ipynb
.*.swp

*.egg-info/
dist/
build/

**/.idea/*
**/!.idea/dictionaries
*.iml

.labml.yaml

**/.remote/scripts
**/.remote/private_key
**/.remote/configs.yaml

**/.vscode