[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
gunicorn = "*"
labml="*"
numpy = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
labml-db = "*"
redis = "*"
mixpanel = "*"
slack-sdk = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"
aiofiles = "*"
argon2-cffi = "*"
libgravatar = "*"

[requires]
python_version = "3.9"
