@mixin neu-list {
}

.list-group {
  .list-group-item {
    background: none;

    &.list-group-item-action {
      border: none;
      border-radius: 5px;
      margin-bottom: 10px;

      &.unselected {
        box-shadow: unset !important;
      }
    }
  }

}

.labml-card {
  box-shadow: none;
}

.nav-link {
  margin: 4px;
  padding: 8px 16px 8px 16px;
  border-radius: 15px;
  cursor: pointer;
}

.btn.btn-primary {
  border: none;
}

.light {
  --background: #ecf0f3;
  --shadow1: #d1d9e6;
  --shadow2: #fff;
  --btn: #34495e;
  --header: #34495e;
  --header-line: #ddd;
  --terminal-bg: none;
  --terminal-text: black;
  --input-icon: #555;
  --input-pointer: #353B42;
  --overlay: rgba(0, 0, 0, 0.5);
  --text-secondary: #7f8c8d;
  --shadow3: rgba(0, 0, 0, 0.15);
  --text: black;
  --list-item-bg: rgba(174, 178, 174, .1);
  --danger: #dc3545;
  --warning: #ffc107;
  --success: #28a745;
  --tag-bg: rgb(0 0 0 / 10%);
  --time-color: rgb(0 0 0 / 90%)
}

.dark {
  --background: #292d32;
  --shadow1: #222;
  --shadow2: #353B42;
  --btn: #ccc;
  --header: #ccc;
  --header-line: #353B42;
  --terminal-bg: none;
  --terminal-text: #ccc;
  --input-icon: #ccc;
  --input-pointer: #ddd;
  --overlay: rgba(0, 0, 0, 0.5);
  --text-secondary: #ccc;
  --shadow3: rgba(0, 0, 0, 0.15);
  --text: white;
  --list-item-bg: rgba(174, 178, 174, .1);
  --danger: #dc3545;
  --warning: #ffc107;
  --success: #28a745;
  --tag-bg: rgb(255 255 255 / 10%);
  --time-color: rgb(255 255 255 / 90%)
}

body {
  background-color: var(--background);
}

.toggle-list-title {
  color: var(--header);
}

.compare-header {
  .compared-with {
    .title {
      &.clickable {
        color: var(--text);
      }
    }

    .sub {
      color: var(--header);
    }
  }

  .error {
    color: var(--danger);
  }
}

.fullscreen-cover {
  background-color: var(--background);
}

.detail-card, .loader-container, .toast {
  background-color: var(--background);
}

option {
  background-color: var(--background);
}

.labml-card {
  background-color: var(--background);

  h3 {
    color: #7f8c8d;
  }

  &:not(disabled):not(.disabled) {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 20px 0px rgba(0, 0, 0, 0.10);

    &.labml-card-action {
      box-shadow: 3px 3px 6px var(--shadow1), -3px -3px 6px var(--shadow2);
    }

    &.selected, &:active {
      box-shadow: inset 2px 2px 5px var(--shadow1), inset -3px -3px 7px var(--shadow2);
    }
  }

}

.nav-link {
  box-shadow: 3px 3px 6px var(--shadow1), -3px -3px 6px var(--shadow2);
  color: var(--btn);

  &.disabled {
    box-shadow: inset 0 0 0 var(--shadow1), inset 0 0 0 2px var(--shadow2);

    & > * {
      filter: opacity(70%); // todo brightness(70%) in dark
    }

    //color: var(--list-item-bg);
  }
}

.toggle-button {
  &.selected {
    box-shadow: inset 2px 2px 5px var(--shadow1), inset -3px -3px 7px var(--shadow2);
  }
}

.v-line {
  border-left: 2px solid var(--btn);
}

.btn.btn-primary {
  box-shadow: 3px 3px 6px var(--shadow1), -3px -3px 6px var(--shadow2);
  background: var(--background);
  color: var(--btn);

  &:hover {
    color: var(--btn);
  }

  &:not(disabled):not(.disabled):active {
    box-shadow: inset 2px 2px 5px var(--shadow1), inset -3px -3px 7px var(--shadow2);
    background: var(--background);
    color: var(--btn);

  }
}

.list-group {
  .list-group-item {
    &.list-group-item-action {
      box-shadow: 3px 3px 6px var(--shadow1), -3px -3px 6px var(--shadow2);

      &.selected, &:active {
        box-shadow: inset 2px 2px 5px var(--shadow1), inset -3px -3px 7px var(--shadow2);
      }
    }
  }
}

.page {
  h3.header {
    color: var(--header);
    border-bottom: 1px solid var(--header-line);
  }

  h2.header {
    color: var(--header);
  }
}

.selected-step {
  fill: var(--header);
}

.terminal-card {
  background-color: var(--terminal-bg);

  pre {
    color: var(--terminal-text);
  }
}

.runs-list {
  .search-container {
    .search-content {
      box-shadow: inset 2px 2px 5px var(--shadow1), inset -3px -3px 7px var(--shadow2);

      span.icon {
        color: var(--input-icon);
      }

      input {
        color: var(--input-pointer);
      }
    }
  }
}

.alert-message {
  box-shadow: 2px 2px 4px var(--shadow1);
}

.tab:active {
  box-shadow: inset 2px 2px 5px var(--shadow1), inset -3px -3px 7px var(--shadow2);
}

.overlay {
  background-color: var(--overlay);

  &.transparent {
    background-color: transparent;
  }

  /*
  dark .overlay-content { todo
      background-color: var(--background);
      }
  */
}

.nav-container {
  .title {
    color: var(--header)
  }
}

.nav-links {
  background-color: var(--background);

  h6 {
    color: var(--text-secondary);
  }

  h5 {
    color: var(--header);
  }
}

.list {
  .list-item {
    box-shadow: 0px 4px 5px 0px var(--shadow3), 0px 1px 20px 0px var(--shadow3); // todo shadow1

    &:focus {
      background-color: transparent;
    }

    h5 {
      color: var(--header);
    }

    h6 {
      color: var(--text-secondary);
    }

    .time {
      color: var(--time-color);
    }

    .status {
      color: var(--text-secondary);
    }
  }
}

.run-info {
  .run-uuid {
    color: var(--text-secondary);
  }

  .status {
    color: var(--text-secondary);
  }

  h3 {
    color: var(--header)
  }

  h4, h5 {
    color: var(--text-secondary);
  }
}

.input-list-container {
  ul li {
    background: var(--list-item-bg);
    color: var(--text)
  }

  .item-key {
    color: var(--text-secondary)
  }

  .item-value {
    color: var(--text)
  }
}

.input-container {
  .input-content {
    box-shadow: inset 2px 2px 5px var(--shadow1), inset -3px -3px 7px var(--shadow2);

    input, textarea, select {
      color: var(--input-pointer);
    }
  }
}

.configs {
  .info_list {
    border-bottom: 1px solid var(--header-line);
  }
}

.line-text {
  fill: var(--btn);
}

.danger {
  color: var(--danger);
}

.warning {
  color: var(--warning);
}

.success {
  color: var(--success);
}

.error-container {
  background-image: linear-gradient(125deg, var(--shadow2), var(--shadow1));
}

.message {
  color: white; // todo create variable
}

.close-btn {
  color: white;
}

.slider {
  &::-webkit-slider-thumb {
    background: var(--text);
  }

  &::-moz-range-thumb {
    background: var(--text);
  }
}

.dropdown-button {
  .dropdown-items {
    background: var(--background);

    .dropdown-item {
      color: var(--text);

      &:hover {
        background: var(--shadow1);
      }

      &:active {
        background: var(--shadow2);
      }
    }
  }
}


/*
todo dark
// TODO discuss to change this, applies in titles in empty runs list
  h5 {
    color: $dark-header;
  }

  p {
    color: $dark-text-secondary;
  }

  // TODO used in last recorded time
  div {
    color: $dark-btn;
  }
*/