@mixin neu-list {
}

.list-group {
  .list-group-item {
    background: none;

    &.list-group-item-action {
      border: none;
      border-radius: 5px;
      margin-bottom: 10px;

      &.unselected {
        box-shadow: unset !important;
      }
    }
  }

}

.labml-card {
  box-shadow: none;
}

.nav-link {
  margin: 4px;
  padding: 8px 16px 8px 16px;
  border-radius: 15px;
  cursor: pointer;
}

.btn.btn-primary {
  border: none;
}

$dark-background: #292d32;
$light-background: #ecf0f3; // #eee;
$dark-shadow1: #222; // rgba(0, 0, 0, 0.10)
$dark-shadow2: #353B42;
$light-shadow1: #d1d9e6; // #b8b9be; // rgba(0, 0, 0, 0.10)
$light-shadow2: #fff;
$dark-btn: #ccc;
$light-btn: #34495e;
$light-header: #34495e;
$dark-header: #ccc;
$light-header-line: #ddd;
$dark-header-line: #353B42;
$dark-terminal-bg: none; // #292b2c;
$light-terminal-bg: none; // #292b2c;
$light-terminal-text: black;
$dark-terminal-text: #ccc;

$light-input-icon: #555;
$dark-input-icon: #ccc;
$light-input-pointer: #353B42;
$dark-input-pointer: #ddd;
$light-overlay: rgba(0, 0, 0, 0.5);
$dark-overlay: rgba(0, 0, 0, 0.5);
$light-text-secondary: #7f8c8d;
$dark-text-secondary: #ccc;
$light-shadow3: rgba(0, 0, 0, 0.15);
$dark-text: white;
$light-text: black;
$light-list-item-bg: rgba(174, 178, 174, .1);
$dark-list-item-bg: rgba(174, 178, 174, .1); //TODO change this

$light-danger: #dc3545;
$dark-danger: #dc3545;
$light-warning: #ffc107;
$dark-warning: #ffc107;
$light-success: #28a745;
$dark-success: #28a745;

body.light {
  background-color: $light-background;

  .toggle-list-title {
    color: $light-header;
  }

  .compare-header {
    .compared-with {
      .title {
        &.clickable {
          color: $light-text;
        }
      }

      .sub {
        color: $light-header;
      }
    }
  }

  .fullscreen-cover {
    background-color: $light-background;
  }

  .detail-card, .loader-container, .toast {
    background-color: $light-background;
  }

  option {
    background-color: $light-background;
  }

  .labml-card {
    background-color: $light-background;

    h3 {
      color: #7f8c8d;
    }

    &:not(disabled):not(.disabled) {
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 20px 0px rgba(0, 0, 0, 0.10);

      &.labml-card-action {
        box-shadow: 3px 3px 6px $light-shadow1, -3px -3px 6px $light-shadow2;
      }

      &.selected, &:active {
        box-shadow: inset 2px 2px 5px $light-shadow1, inset -3px -3px 7px $light-shadow2;
      }
    }

  }

  .nav-link {
    box-shadow: 3px 3px 6px $light-shadow1, -3px -3px 6px $light-shadow2;
    color: $light-btn;

    &.disabled {
      box-shadow: inset 0 0 0 $light-shadow1, inset 0 0 0 2px $light-shadow2;

      & > * {
        filter: opacity(70%);
      }

      //color: $light-list-item-bg;
    }
  }

  .toggle-button {
    &.selected {
      box-shadow: inset 2px 2px 5px $light-shadow1, inset -3px -3px 7px $light-shadow2;
    }
  }

  .v-line {
    border-left: 2px solid $light-btn;
  }

  .btn.btn-primary {
    box-shadow: 3px 3px 6px $light-shadow1, -3px -3px 6px $light-shadow2;
    background: $light-background;
    color: $light-btn;

    &:hover {
      color: $light-btn;
    }

    &:not(disabled):not(.disabled):active {
      box-shadow: inset 2px 2px 5px $light-shadow1, inset -3px -3px 7px $light-shadow2;
      background: $light-background;
      color: $light-btn;

    }
  }

  .list-group {
    .list-group-item {
      &.list-group-item-action {
        box-shadow: 3px 3px 6px $light-shadow1, -3px -3px 6px $light-shadow2;

        &.selected, &:active {
          box-shadow: inset 2px 2px 5px $light-shadow1, inset -3px -3px 7px $light-shadow2;
        }
      }
    }
  }

  .page {
    h3.header {
      color: $light-header;
      border-bottom: 1px solid $light-header-line;
    }

    h2.header {
      color: $light-header;
    }
  }

  .selected-step {
    fill: $light-header;
  }

  .terminal-card {
    background-color: $light-terminal-bg;

    pre {
      color: $light-terminal-text;
    }
  }

  .runs-list {
    .search-container {
      .search-content {
        box-shadow: inset 2px 2px 5px $light-shadow1, inset -3px -3px 7px $light-shadow2;

        span.icon {
          color: $light-input-icon;
        }

        input {
          color: $light-input-pointer;
        }
      }
    }
  }

  .alert-message {
    box-shadow: 2px 2px 4px $light-shadow1;
  }

  .tab:active {
    box-shadow: inset 2px 2px 5px $light-shadow1, inset -3px -3px 7px $light-shadow2;
  }

  .overlay {
    background-color: $light-overlay;

    &.transparent {
        background-color: transparent;
    }
  }

  .nav-container {
    .title {
      color: $light-header
    }
  }

  .nav-links {
    background-color: $light-background;

    h6 {
      color: $light-text-secondary;
    }

    h5 {
      color: $light-header;
    }
  }

  .list {
    .list-item {
      box-shadow: 0px 4px 5px 0px $light-shadow3, 0px 1px 20px 0px $light-shadow3;

      &:focus {
        background-color: transparent;
      }

      h5 {
        color: $light-header;
      }

      h6 {
        color: $light-text-secondary;
      }

      p {
        color: $light-text-secondary;
      }

      .status {
        color: $light-text-secondary;
      }
    }
  }

  .run-info {
    .run-uuid {
      color: $light-text-secondary;
    }

    .status {
      color: $light-text-secondary;
    }

    h3 {
      color: $light-header
    }

    h4, h5 {
      color: $light-text-secondary;
    }
  }

  .input-list-container {
    ul li {
      background: $light-list-item-bg;
      color: $light-text
    }

    .item-key {
      color: $light-text-secondary
    }

    .item-value {
      color: $light-text
    }
  }

  .input-container {
    .input-content {
      box-shadow: inset 2px 2px 5px $light-shadow1, inset -3px -3px 7px $light-shadow2;

      input, textarea, select {
        color: $light-input-pointer;
      }
    }
  }

  .configs {
    .info_list {
      border-bottom: 1px solid $light-header-line;
    }
  }

  .line-text {
    fill: $light-btn;
  }

  .danger {
    color: $light-danger;
  }

  .warning {
    color: $light-warning;
  }

  .success {
    color: $light-success;
  }

  .error-container {
    background-image: linear-gradient(125deg, $light-shadow2, $light-shadow1);
  }

  .message {
    color: white;
  }

  .close-btn {
    color: white;
  }

  .slider {
    &::-webkit-slider-thumb {
      background: $light-text;
    }

    &::-moz-range-thumb {
      background: $light-text;
    }
  }

  .dropdown-button {
    .dropdown-items {
      background: $light-background;

      .dropdown-item {
        color: $light-text;

        &:hover {
          background: $light-shadow1;
        }

        &:active {
          background: $light-shadow2;
        }
      }
    }
  }
}

body.dark {
  background-color: $dark-background;

  .dropdown-button {
    .dropdown-items {
      background: $dark-background;

      .dropdown-item {
        color: $dark-text;

        &:hover {
          background: $dark-shadow1;
        }

        &:active {
          background: $dark-shadow2;
        }
      }
    }
  }
  .compare-header {
    .compared-with {
      .title {
        &.clickable {
          color: $dark-text;
        }
      }

      .sub {
        color: $dark-header;
      }
    }
  }

  .fullscreen-cover {
    background-color: $dark-background;
  }

  .detail-card, .loader-container, .toast {
    background-color: $dark-background;
  }

  option {
    background-color: $dark-background;
  }

  .labml-card {
    background-color: $dark-background;

    h3 {
      color: #7f8c8d;
    }

    &:not(disabled):not(.disabled) {
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 20px 0px rgba(0, 0, 0, 0.10);

      &.labml-card-action {
        box-shadow: 3px 3px 6px $dark-shadow1, -3px -3px 6px $dark-shadow2;
      }

      &.selected, &:active {
        box-shadow: inset 2px 2px 5px $dark-shadow1, inset -3px -3px 7px $dark-shadow2;
      }
    }

  }

  .nav-link {
    box-shadow: 3px 3px 6px $dark-shadow1, -3px -3px 6px $dark-shadow2;
    color: $dark-btn;

    &.disabled {
      box-shadow: inset 0 0 0 $dark-shadow1, inset 0 0 0 2px $dark-shadow2;

      & > * {
        filter: brightness(70%);
      }

      //color: $dark-list-item-bg;
    }
  }

  .toggle-button {
    &.selected {
      box-shadow: inset 2px 2px 5px $dark-shadow1, inset -3px -3px 7px $dark-shadow2;
    }
  }

  .v-line {
    border-left: 2px solid $dark-btn;
  }

  .btn.btn-primary {
    box-shadow: 3px 3px 6px $dark-shadow1, -3px -3px 6px $dark-shadow2;
    background: $dark-background;
    color: $dark-btn;

    &:hover {
      color: $dark-btn;
    }

    &:not(disabled):not(.disabled):active {
      box-shadow: inset 2px 2px 5px $dark-shadow1, inset -3px -3px 7px $dark-shadow2;
      background: $dark-background;
      color: $dark-btn;

    }
  }

  .list-group {
    .list-group-item {
      &.list-group-item-action {
        box-shadow: 3px 3px 6px $dark-shadow1, -3px -3px 6px $dark-shadow2;

        &.selected, &:active {
          box-shadow: inset 2px 2px 5px $dark-shadow1, inset -3px -3px 7px $dark-shadow2;
        }
      }
    }
  }

  .page {
    h3.header {
      color: $dark-header;
      border-bottom: 1px solid $dark-header-line;
    }

    h2.header {
      color: $dark-header;
    }
  }

  .selected-step {
    fill: $dark-header;
  }

  .terminal-card {
    background-color: $dark-terminal-bg;

    pre {
      color: $dark-terminal-text;
    }
  }

  .runs-list {
    .search-container {
      .search-content {
        box-shadow: inset 2px 2px 5px $dark-shadow1, inset -3px -3px 7px $dark-shadow2;

        span.icon {
          color: $dark-input-icon;
        }

        input {
          color: $dark-input-pointer;
        }
      }
    }
  }

  .alert-message {
    box-shadow: 2px 2px 4px $dark-shadow1;
  }

  .tab:active {
    box-shadow: inset 2px 2px 5px $dark-shadow1, inset -3px -3px 7px $dark-shadow2;
  }

  .overlay {
    background-color: $dark-overlay;

    .overlay-content {
      background-color: $dark-background;
    }
  }

  .nav-container {
    .title {
      color: $dark-header
    }
  }

  .nav-links {
    background-color: $dark-background;

    h6 {
      color: $dark-text-secondary;
    }

    h5 {
      color: $dark-header;
    }
  }

  .list {
    .list-item {
      box-shadow: 0px 4px 5px 0px $dark-shadow1, 0px 1px 20px 0px $dark-shadow1;

      &:focus {
        background-color: transparent;
      }

      h5 {
        color: $dark-header;
      }

      h6 {
        color: $dark-text-secondary;
      }

      p {
        color: $dark-text-secondary;
      }

      .status {
        color: $dark-text-secondary;
      }
    }
  }

  .run-info {
    .run-uuid {
      color: $dark-text-secondary;
    }

    .status {
      color: $dark-text-secondary;
    }

    h3 {
      color: $dark-header
    }

    h4, h5 {
      color: $dark-text-secondary;
    }
  }

  .input-list-container {
    ul li {
      background: $dark-list-item-bg;
      color: $dark-text
    }

    .item-key {
      color: $dark-text-secondary
    }

    .item-value {
      color: $dark-text
    }
  }

  .input-container {
    .input-content {
      box-shadow: inset 2px 2px 5px $dark-shadow1, inset -3px -3px 7px $dark-shadow2;

      input, textarea, select {
        color: $dark-input-pointer;
      }
    }
  }

  .configs {
    .info_list {
      border-bottom: 1px solid $dark-header-line;
    }
  }

  // TODO discuss to change this, applies in titles in empty runs list
  h5 {
    color: $dark-header;
  }

  p {
    color: $dark-text-secondary;
  }

  // TODO used in last recorded time
  div {
    color: $dark-btn;
  }

  .line-text {
    fill: $dark-btn;
  }

  .danger {
    color: $dark-danger;
  }

  .warning {
    color: $dark-warning;
  }

  .success {
    color: $dark-success;
  }

  .error-container {
    background-image: linear-gradient(125deg, $dark-shadow2, $dark-shadow1);
  }

  .message {
    color: black;
  }

  .close-btn {
    color: black;
  }

  .slider {
    &::-webkit-slider-thumb {
      background: $dark-text;
    }

    &::-moz-range-thumb {
      background: $dark-text;
    }
  }

  .toggle-list-title {
    color: $dark-header;
  }
}
